button.filter-clear:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

button.filter-clear {
  float: right;
  cursor: pointer;
  font-size: 12px;
  color: #002b56;
  font-weight: 500;
  padding: 8px 16px;
  line-height: 17.5px;
  letter-spacing: 0.86px;
  text-transform: uppercase;
  border: 1px solid #002b56;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}

button.filter-clear:hover:not(:disabled) {
  transition: background-color .4s;
  background-color: #f8f8f8;
}

button.filter-clear:disabled {
  cursor: default;
  color: #d8d8d8;
  border: 1px solid #d8d8d8;
}