section.reviews {
  padding: 32px 0;
}

section.reviews div.counter {
  color: #666;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.92px;
  line-height: 32px;
}

section.reviews div.review {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
}

section.reviews div.review div.reviewer {
  width: 25%;
  display: flex;
}

section.reviews div.review div.reviewer figure {
  margin: 0;
  width: 80px;
  height: 80px;
  background-color: #d8d8d8;
}

section.reviews div.review div.reviewer div.reviewer-info {
  margin-left: 32px;
}

section.reviews div.review div.reviewer div.reviewer-info div.reviewer-name {
  color: #000;
  font-size: 22px;
  letter-spacing: 0.92px;
  line-height: 24px;
  margin-bottom: 8px;
}

section.reviews div.review div.reviewer div.reviewer-info div.reviewer-date {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

section.reviews div.review div.review-body {
  width: 75%;
}

section.reviews div.review div.review-body div.message {
  margin-top: 16px;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 24px 0;
}

@media (max-width: 800px) {

  section.reviews div.review {
    padding: 16px 0;
  }

  section.reviews div.review div.reviewer {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
  }

  section.reviews div.review div.review-body {
    width: 100%;
  }
}