section.restaurants {
  padding: 64px 0;
}

section.restaurants header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 40px;
}

section.restaurants h2 {
  margin: 0;
  color: #333;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

section.restaurants h4 {
  margin: 0;
  color: #757575;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
}

section.restaurants .restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.restaurants .load-more {
  width: 420px;
  height: 48px;
  padding: 16px;
  margin: 0 auto 64px;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #002b56;
  color: #002b53;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

section.restaurants .load-more:hover {
  transition: background-color .4s;
  background-color: #f8f8f8;
}
