@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue') url('./assets/fonts/helvetica-neue.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.modal {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}