@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue') url('./fonts/helvetica-neue.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}